  <footer class="sitting">
    <div class="footer-text"> 
      <div>Read More at </div>
      <a class="github-link" href="https://github.com/Reizor-75/Shinshi"> Github
        <img  id="sitting-pigeon" src="/images/ChubbyPigeon.png" alt="pigeon mascot sitting">
      </a>
    </div>
  </footer>
</body>
</html>
