  <footer> 
    <div class="footer-text"> 
      <div>Read More at </div>
      <a class="github-link" href="https://github.com/Reizor-75/Shinshi"> GitHub
        <img  id="sitting-pigeon" src="/images/ChubbyPigeonV2.svg" alt="pigeon mascot sitting">
      </a>
    </div>
  </footer>
</body>
</html>
