.watched-container{
  width: 65%;
  min-width: 450px;
  padding-bottom: 20px;
  background-color: #2e0c3d25;
}

.watched-list-input{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.delete-button{  
  font-size: 10px;
  padding: 4px;
  margin-left: 4px;
}

.custom-select{
  border-radius: 8px;
  color: #2e0c3d;
  font-weight: bold;
  background-color: #f1f0f6;
  padding: 0 8px;
  
}