a{
  text-decoration: none;  
  color: #2e0c3d;
}

.catalog-container{
  width: 65%;
  min-width: 450px;
  padding-bottom: 20px;
  background-color: #2e0c3d25;
}

.card-container{
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px;  
}

.anime-image{
  display: flex;
  justify-content: left;
}
.card-body-left{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-size: 16px;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
  margin: 0 4px;
}

.card-body-right{  
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  font-weight: bold;
}

.card:hover{  
  background-color: #EE8917;
  color: #2e0c3d;
}