a{
  text-decoration: none;  
  color: #2e0c3d;
}

.catalog-container{
  width: 70%;
  padding-bottom: 20px;
  background-color: #2e0c3d25;
}

.title{
  display: flex;
  justify-content: center;
  background-color: #2e0c3d25;
  font-size: 48px;
  font-weight: bolder;
  padding: 8px 0;
}

.card-container{
  display: flex;
  flex-direction: column;
}

.card{
  display: flex;
  justify-content: center;
  align-items: flex-end;  
  padding: 16px;
}

.anime-image{
  display: flex;
  justify-content: left;
}

.card-body{  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 8px;
  width: 80%;
}

.card-body-left{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
  font-size: 16px;
}

.card-title{
  font-size: 20px;
  font-weight: bold;
  padding-right: 4px;
}

.card-body-right{  
  font-size: 16px;
  font-weight: bold;
}

.card:hover{  
  background-color: #EE8917;
}