.add-container{
  width: 60%;  
  min-width: 450px;
  background-color: #2e0c3d25;
  font-size: 24px;
  font-weight: 500;
}

.title{
  display: flex;
  justify-content: center;
  background-color: #2e0c3d25;
  font-size: 48px;
  font-weight: bold;
  padding: 8px 0;
}

.new-form-body{
  margin: 24px;
}
.new-form-top{
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

input{  
  padding:8px;
  margin: 0 4px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #d5e8d4;
  border: 1px solid #2e0c3d;
}

.url{
  display: flex;
  margin: 8px 0;
}

fieldset{
  margin: 8px 0;
}

.bottom-row{
  display: flex;
  justify-content: right;
}