.add-container{
  width: 60%;  
  min-width: 450px;
  background-color: #2e0c3d25;
  font-size: 24px;
  font-weight: 500;
  /* height: 80vh; */
}

.title{
  display: flex;
  justify-content: center;
  background-color: #2e0c3d25;
  font-size: 48px;
  font-weight: bold;
  padding: 8px 0;
}

.new-form-body{
  margin: 24px;
}
.new-form-top{
  margin: 8px 0;
  display: flex;
  align-items: center;
}

input{  
  padding:8px;
  margin: 0 4px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #d5e8d4;
  border: 1px solid #2e0c3d;
}

.url{
  display: flex;
  margin: 8px 0;
}

#url-input{
  width: 85%;
}

fieldset{
  margin: 8px 0;
}

button{
  font-size: 16px;
  font-weight: 600;
  color: #EE8917;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
  background-color: #2e0c3d; ;
}
button:hover{
  color: #2e0c3d;
  background-color: #EE8917; ;
}

.bottom-row{
  display: flex;
  justify-content: right;
}