.show-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  min-width: 450px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2e0c3d25;
  padding-bottom: 150px;
}

p{
  font-weight: 500;
  letter-spacing: normal;
  color:#000;
}

.anime-info{  
  background-color: #2e0c3d25;
  padding: 16px;
  line-height: 1.5;
}

.image-crop{  
  max-height: 600px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #463c3c;
}

.anime-image{
  width: 100%
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 4px;
}

.anime-rating{  
  font-size: 20px;
  padding-bottom: 4px;
}

.section2{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
}

.section3{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.section4{  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

input{  
  border: 1px solid #2e0c3d;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #EE8917 ;
  border: 1px solid #2e0c3d;
}

.review-header{  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 16px;
  padding-top: 24px;
}

.review-title{
  display: flex;
  font-size: 32px;
  font-weight: bold;
}

.review{
  padding: 16px;
}

.review-topline{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width:100%
}

.review-headline{  
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.review-rating{  
  display: flex;
}

.review-text{
  font-size: 16px;
  font-weight: normal;
}

.user-controls{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.alter-buttons{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.user-info{
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.username{
  padding-right: 8px;
}

.avatar{
  width: 30px;
  height: 30px;
  border-radius: 50% ;
}

.add-review-inputs{
  display:flex;
  justify-content: space-between;
  margin: 8px 0;
}

.headline-input{
  width: 60%;
}

#content-textarea{
  width: 100%;
  height: 100px;
  text-align: left;
}

.bottom-row{
  display: flex;
  justify-content: right;
}

.admin-buttons{
  display: flex;
}

.admin-button{
  font-size: 12px;
  padding: 4px;
  margin: 0;
  margin-right: 4px;
}

.edit-title{
  font-size: 20px;
  margin-bottom: 4px;
}

.edit-inputs{
  display: flex;
  flex-direction: column;
}

.edit-input{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 4px;
}

.edit-input > label{  
  white-space: nowrap;  
  margin-right: 4px;
}

.rating-input{
  width: 15%;
}