a{  
  color: #2e0c3d;
}
.show-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding:16px;
  font-size: 16px;
  font-weight: bold;
}

.anime-image{
  width: 60%;
  height: 300px;
}

.title-section{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 32px;
  font-weight: bold;
}
.anime-rating{  
  font-size: 20px;
}

.section2{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-weight: bold;
}

.section3{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.review-header{  
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 24px;
  padding-bottom: 12px;
}

.review-title{
  display: flex;
  font-size: 28px;
  font-weight: bold;
}


.review{
  padding-bottom: 8px;
}

.review-topline{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width:100%
}

.review-headline{
  font-size: 20px;
  font-weight: bold;
}
.review-text{
  font-size: 16px;
  font-weight: normal;
}

button{
  display: flex;
  justify-content: right;
  font-size: 16px;
  font-weight: 600;
  color: #EE8917;
  border: none;
  border-radius: 8px;
  padding: 8px;
  background-color: #2e0c3d; ;
}
button:hover{
  color: #2e0c3d;
  background-color: #EE8917; ;
}

.user{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.alter-buttons{  
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.user-info{
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.username{
  padding-right: 8px;
}

.avatar{
  width: 30px;
  border-radius: 50% ;
}

[popover]::backdrop {
  background-color: rgb(0, 0, 0, .75);
  
}