html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #f1f0f6;
  color: #2e0c3d;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-width: 450px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;  
  color: #2e0c3d;
}

a:hover{  
  color: #d5e8d4;
}

nav {
  background-color: #2e0c3d;
  color: #ee8917;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  display: flex;
}

#mascot{
  height: 50px;
  margin: 0 4px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e0c3d;
  background-color: #EE8917;
  padding: 8px;
  font-size: 24px;
  font-weight: 500;
}

.footer-text{  
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

#sitting-pigeon{
  width: 50px;
  padding:4px;
  margin: 0 4px;
  background-color: #d5e8d4;
  border-radius: 50%;
}

.website-title{
  color: #ee8917;
  font-size: 36px;
  font-weight: 900;
}

.website-links{  
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 4px;
}

.website-links > a{
  color: #d5e8d4;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
}

.website-links > a:hover{
  color: #2e0c3d;
  background-color:#d5e8d4;
}


button{
  display: flex;
  justify-content: right;
  font-size: 16px;
  font-weight: 600;
  color: #EE8917;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
  background-color: #2e0c3d; ;
}
button:hover{
  color: #2e0c3d;
  background-color: #EE8917; 
}

hr{  
  width: 100%;
  border: 1px solid #2e0c3d;
}

.profile-container{
  display: flex;
  justify-content: right;
  padding: 8px;
  border-radius: 8px;
  /* width: 200px; */
}

.profile-options{
  display: none;
  position: absolute;
  width: 150px;
  /* overflow: auto; */
}

.profile-container:hover {
  color: #2e0c3d;
  background-color: #ee8917;
}

.profile-container:hover .profile-options {
  display: flex;
  flex-direction: column;
}

.option{    
  display: flex;
  justify-content: right;
  color: #ee8917;
  background-color: #2e0c3d;
  padding: 8px;
}

.option:hover{    
  color: #2e0c3d;
  background-color: #ee8917;
  border: solid 1px #2e0c3d ;
}

.logout{    
  color: #d5e8d4;
  background-color: #2e0c3d;
} 

.logout:hover{  
  color: #2e0c3d;
  background-color: #d5e8d4;
}