html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #f1f0f6;
  color: #2e0c3d;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  min-width: 450px;
  min-height: 100vh;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;  
  color: #2e0c3d;
}

nav {
  background-color: #2e0c3d;
  color: #ee8917;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 16px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 16px;
}

.logo{
  display: flex;
  align-items: flex-end;
  font-family: 'Carter One', system-ui;
}

#mascot{
  height: 50px;
  padding: 4px;
  transform: scaleX(-1);
}

.title{
  display: flex;
  justify-content: center;
  background-color: #2e0c3d25;
  font-size: 40px;
  font-weight: bold;
  padding: 8px 0;
}

footer{
  color: #2e0c3d;
  background-color: #EE8917;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;  
  margin-top: auto;
}

.footer-text{  
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-link{
  display: flex;
  align-items: center;
  margin: 0 8px;
}

#sitting-pigeon{
  width: 40px;
  padding: 4px;
  background-color: #d5e8d4;
  border-radius: 50%;
  margin-left: 4px;
}

.website-title{
  color: #ee8917;
  font-size: 36px;
  font-weight: 800;
  margin: -8px 0;
}

.website-links{  
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 4px;
}

.website-links > a{
  color: #d5e8d4;
  padding: 8px;
  border-radius: 8px;
  margin: 0 4px;
}

.website-links > a:hover{
  color: #2e0c3d;
  background-color: #d5e8d4;
}

button{
  display: flex;
  justify-content: right;
  font-size: 16px;
  font-weight: 600;
  color: #EE8917;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 2px;
  background-color: #2e0c3d;
}

button:hover{
  color: #2e0c3d;
  background-color: #EE8917; 
}

hr{  
  width: 100%;
  border: 1px solid #2e0c3d;
}

[popover]::backdrop {
  background-color: rgb(0, 0, 0, .85);  
}

[popover]{
  min-width: 400px;
  width: 50%;
  background-color: #d5e8d4;
  border: none;
  border-radius: 8px;
  padding:16px;
  color: #2e0c3d;
}

.profile-container{
  display: flex;
  justify-content: right;
  padding: 8px;
  border-radius: 8px;
}

.profile-options{
  display: none;
  position: absolute;
  width: 150px;
}

.profile-container:hover {
  color: #2e0c3d;
  background-color: #ee8917;
}

.profile-container:hover .profile-options {
  display: flex;
  flex-direction: column;
}

.option{    
  display: flex;
  justify-content: right;
  color: #ee8917;
  background-color: #2e0c3d;
  padding: 8px;
}

.option:hover{    
  color: #2e0c3d;
  background-color: #ee8917;
  border: solid 1px #2e0c3d ;
}

.logout{    
  color: #d5e8d4;
  background-color: #2e0c3d;
} 

.logout:hover{  
  color: #2e0c3d;
  background-color: #d5e8d4;
}

.star-icon{  
  width: 20px;
  color: #2e0c3d;
}

.lit{
  color: #EE8917;
}

.review-content{
  line-height: normal;  
  letter-spacing: 0;
  font-size: 16px;
  font-weight: normal;
  min-height: 50px;
  margin: 8px 0;  
}