html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #f1f0f6;
  color: #2e0c3d;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  min-width: 450px;
  font-size: 20px;
  font-weight: 500;
}

a{
  text-decoration: none;
}

nav {
  background-color: #2e0c3d;
  color: #ee8917;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.website-title{
  width:15%;
  color: #ee8917;
  font-size: 36px;
  font-weight: 900;
}

.website-links{  
  width:85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.website-links > a{
  color: #d5e8d4;
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
}

.website-links > a:hover{
  color: #2e0c3d;
  background-color:#d5e8d4;
}

/* button{  
  font-size: 20px;
  font-weight: 300;
  color: #d5e8d4;
  border: none;
  background-color: rgb(0,0,0,0);
}

button:hover{
  color: #2e0c3d;
  background-color:#d5e8d4;
} */

hr{  
  width: 100%;
  border: 1px solid #2e0c3d;
}


/* button.logout{  
  color: #2e0c3d;
  background-color: #d5e8d4;  
  padding: 8px;
  border: none;
  border-radius: 8px;
}

button.logout:hover{
  color: #ee8917;
  background-color: rgb(0,0,0,0);
} */

.profile-container{
  padding: 8px;
  border-radius: 8px;
  margin-right: 4px;  
}

.profile-options{
  display: none;
  position: absolute;
  /* overflow: auto; */
}

.profile-container:hover {
  color: #2e0c3d;
  background-color: #ee8917;
}

.profile-container:hover .profile-options {
  display: flex;
  flex-direction: column;
}

.option{    
  color: #ee8917;
  background-color: #2e0c3d;
  padding: 8px;
}

.option:hover{    
  color: #2e0c3d;
  background-color: #ee8917;
}

.logout-button{    
  color: #d5e8d4;
  background-color: rgb(0,0,0,0);
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.logout-button:hover{    
  color: #2e0c3d;
  background-color: #d5e8d4;
}

.logout{    
  color: #d5e8d4;
  background-color: #2e0c3d;
  padding: 8px;
} 

.option-logout:hover{  
  color: #2e0c3d;
  background-color: #d5e8d4;
}