<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/animes/new.css">
<%- include('../partials/nav') %>

<main>
  <div class="add-container">
    <div class="title"><%= title %></div>
    <form id="new-form" action="/findAnime" method="POST">
      <div class="new-form-body">
        <div class="add-inputs"> 
          <!-- title -->
          <div class="add-input">
            <label for="title-input">Title:</label>
            <input type="text" name="title" id="title-input" placeholder="Search for Anime">
          </div>
          <!-- image url -->
          <div class="add-input">
            <label for="url-input">Image URL:</label>
            <input type="text" name="imageURL" id="url-input" placeholder="Please insert anime image in landscape">
          </div>
        </div> 
        <div class="bottom-row">
          <button type="submit">Add Anime</button>
        </div>
      </div>
    </form>
  </div>
</main>
<%- include('../partials/footer') %>
